# **Association Rules - Market Basket Analysis dengan Python**

Analisis asosiasi atau association rule mining adalah teknik data mining untuk menemukan aturan assosiatif antara suatu kombinasi item (Mengetahui hubungan antara satu atribut dengan yang lainnya). Contoh aturan assosiatif dari analisa pembelian di suatu pasar swalayan contohnya adalah dapat diketahuinya berapa besar kemungkinan seorang pelanggan membeli roti bersamaan dengan susu. Dengan pengetahuan tersebut pemilik pasar swalayan dapat mengatur penempatan barangnya atau merancang kampanye pemasaran dengan memakai kupon diskon untuk kombinasi barang tertentu.

Ruang Lingkup : **Product Purchases** <br>
**Algoritma apriori** : Digunakan agar komputer dapat mempelajari aturan asosiasi, mencari pola hubungan antar satu atau lebih item dalam suatu dataset. <br>
**Permasalahan** yang ingin di selesaikan adalah membantu pihak retail dalam menentukan product bundling dan product placement dari data transaksi yang hendak digunakan.

<br>

## Tahapan data mining

1. **Data Selection** -> Pemilihan (seleksi) data dari sekumpulan data operasional perlu dilakukan sebelum tahap penggalian informasi. Data hasil seleksi yang digunakan untuk proses data mining, disimpan dalam suatu berkas, terpisah dari basis data operasional. <br>
2. **Data Pre-processing** -> Merupakan proses mengubah data mentah atau biasa dikenal dengan raw data yang dikumpulkan dari berbagai sumber menjadi informasi yang lebih bersih dan bisa digunakan untuk pengolahan selanjutnya.
> *2.1 Data Cleansing* -> Data cleaning mencakup proses membuang duplikasi data, memeriksa data yang inkonsisten, dan memperbaiki kesalahan yang ada pada data.<br> *2.2 Data Transformation* -> Merupakan proses transformasi pada data yang telah dipilih. Lebih lanjut dari itu, proses transformasi data merupakan proses mengubah data kedalam format operasional tertentu, mengkonversi tipe data, melakukan beberapa perhitungan, penyaringan data yang tidak relevan, dan meringkasnya (tergantung pada jenis atau pola informasi yang akan dicari dalam basis data). <br>
3. **Data mining** -> Data mining adalah proses mencari pola atau informasi menarik dalam data terpilih dengan menggunakan teknik atau metode tertentu. Teknik, metode, atau algoritma dalam data mining sangat bervariasi. Pemilihan metode atau algoritma yang tepat sangat bergantung pada tujuan dan proses data mining secara keseluruhan. <br>
4. **Interpretation / evalution** -> Pola informasi yang dihasilkan dari proses data mining perlu ditampilkan dalam bentuk yang mudah dimengerti oleh pihak yang berkepentingan. Tahap ini mencakup pemeriksaan apakah pola atau informasi yang ditemukan bertentangan dengan fakta atau hipotesis yang ada sebelumnya.

## Question

Mengidentifikasi produk-produk yang sering dibeli secara bersamaan oleh customer kemudian membantu pihak retail dalam menentukan product bundling dan product placement dari data transaksi yang digunakan. (Market Basket Analitcs) <br>

In [ ]:
# Connect to google drive using the following commands:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
pip install mlxtend

Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.5)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (0.22.2.post1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2018.9)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib>=1.5.1->mlxtend) (1.15.0)

In [ ]:
pip install apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp37-none-any.whl size=5975 sha256=a25f799e659bb888e6b3ab4161eea85056cab02677964fff4d288e249f732fb7
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from apyori import apriori
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
pip install apyori
import datetime

## 1. Data Selection 
> Prepare for dataset that would be used

In [ ]:
# Import dataset
df = pd.read_excel('/content/drive/My Drive/Datasets/data_retail2.xlsx')

In [ ]:
df.head() # 541.909 rows Ã— 23 columns

  InvoiceNo         InvoiceDate  ...  SUBDISTID         SUBDIST_NAME
0    536365 2020-12-01 08:26:00  ...     130113        CV. EKA PUTRA
1    536365 2020-12-01 08:26:00  ...     130113        CV. EKA PUTRA
2    536365 2020-12-01 08:26:00  ...     190105  PT. KTRI DISTRIBUSI
3    536365 2020-12-01 08:26:00  ...     130113        CV. EKA PUTRA
4    536365 2020-12-01 08:26:00  ...     190105  PT. KTRI DISTRIBUSI

[5 rows x 23 columns]

In [ ]:
df.dtypes

InvoiceNo                      object
InvoiceDate            datetime64[ns]
BRANCH_SPLR                     int64
BRANCHNAME_SPLR                object
warehouseProductsID            object
BARCODEID                       int64
StockCode                      object
PRODUCT                        object
PRODUCT_CATEGORY               object
Quantity                        int64
UnitPrice                     float64
UnitPriceRupiah               float64
oldCUSTID                      object
CustomerID                    float64
CUSTNAME                       object
ADDRESS                        object
KOTA                           object
PROVINSI                       object
NEGARA                         object
CHANNELID_SPLR                  int64
CHANNELNAME_SPLR               object
SUBDISTID                       int64
SUBDIST_NAME                   object
dtype: object

## 2. Data Pre-processing 
### 2.1 Data Cleansing

In [ ]:
df.head(3)

  InvoiceNo         InvoiceDate  ...  SUBDISTID         SUBDIST_NAME
0    536365 2020-12-01 08:26:00  ...     130113        CV. EKA PUTRA
1    536365 2020-12-01 08:26:00  ...     130113        CV. EKA PUTRA
2    536365 2020-12-01 08:26:00  ...     190105  PT. KTRI DISTRIBUSI

[3 rows x 23 columns]

In [ ]:
# Mengganti kolom PERIODE menjadi tipe data datetime
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [ ]:
# Menghapus column yang tidak digunakan / duplicate columns
# df = df.drop(columns=['SALES_HNA_RUPIAH','SALES_HNA_UNIT','NET_SALES','NET_SALES_BU'])

In [ ]:
# Clean up spaces in product description, product category and remove any rows that don't have a valid invoice
df['PRODUCT'] = df['PRODUCT'].str.strip()
df['PRODUCT_CATEGORY'] = df['PRODUCT_CATEGORY'].str.strip()

df.dropna(axis=0, subset=['InvoiceNo'], inplace=True)

In [ ]:
# menghapus variabel inoviceNO yang diawali dengan huruf C pada invoice numbernya
df['InvoiceNo'] = df['InvoiceNo'].astype('str')
df = df[~(df['InvoiceNo'].str[0] == 'C')]

menghapus variabel invoiceNo yang kosong, dan menghilangkan Transaksi yang merupakan transaksi kredit (Di awali dengan hufuf C pada invoice number)

### 2.2 Data Transformation

In [ ]:
# basket = df.groupby(['InvoiceNo', 'Description'],as_index=False)['Quantity'].sum()\
#          .unstack().reset_index().fillna(0)
# basket.head()

# basket = (df[df['Country'] =="France"].groupby(['InvoiceNo', 'Description'])['Quantity'].sum()\
#                                       .unstack().reset_index().fillna(0)\
#                                       .set_index('InvoiceNo'))
# basket.head()

In [ ]:
basket = (df[df['PROVINSI'] =="JAWA TENGAH"].groupby(['InvoiceNo', 'PRODUCT_CATEGORY'])['Quantity'].count()\
                                      .unstack().reset_index().fillna(0)\
                                      .set_index('InvoiceNo'))
basket.head()

PRODUCT_CATEGORY  ALAT LISTRIK  ALAT RUMAH TANGGA  ...  TEPUNG  TISSUE
InvoiceNo                                          ...
536367                     0.0                0.0  ...     0.0     0.0
536368                     0.0                0.0  ...     0.0     0.0
536370                     0.0                0.0  ...     0.0     0.0
536371                     0.0                0.0  ...     0.0     0.0
536373                     0.0                0.0  ...     0.0     0.0

[5 rows x 52 columns]

In [ ]:
# Show a subset of columns
basket.iloc[:,[0,1,2,3,4,5,6,7]].head()

PRODUCT_CATEGORY  ALAT LISTRIK  ALAT RUMAH TANGGA  ...  COKELAT  DETERGEN
InvoiceNo                                          ...
536367                     0.0                0.0  ...      0.0       0.0
536368                     0.0                0.0  ...      0.0       0.0
536370                     0.0                0.0  ...      0.0       0.0
536371                     0.0                0.0  ...      0.0       0.0
536373                     0.0                0.0  ...      0.0       0.0

[5 rows x 8 columns]

In [ ]:
# Melakukan proses encoding -> Mengubah data kebentuk angka, agar sistem atau komputer dapat memahami informasi dari dataset
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

basket_sets = basket.applymap(encode_units)
basket_sets.head(5)

PRODUCT_CATEGORY  ALAT LISTRIK  ALAT RUMAH TANGGA  ...  TEPUNG  TISSUE
InvoiceNo                                          ...
536367                       0                  0  ...       0       0
536368                       0                  0  ...       0       0
536370                       0                  0  ...       0       0
536371                       0                  0  ...       0       0
536373                       0                  0  ...       0       0

[5 rows x 52 columns]

Kemudian melakukan encoding, dimana jika barang kurang dari sama dengan 0 maka keranjang tersebut bernilai 0 dan jika lebih dari 1 maka nilainya adalah 1, sehingga jika sebuah nota membeli barang A sebanyak 10 buah maka hanya akan dihitung 1. Karena analisis yang di gunakan menyaratkan seperti itu.

## 3. Data Mining
### Data mining dapat dikenal juga dengan istilah data exploration

In [ ]:
# Build up the frequent items, the rules, and model

frequent_itemsets = apriori(basket_sets, min_support=0.1, use_colnames=True)
frequent_itemsets

      support                                     itemsets
0    0.326438                          (ALAT RUMAH TANGGA)
1    0.348726                                    (BISKUIT)
2    0.172516                                      (BUMBU)
3    0.166359                                    (COKELAT)
4    0.273488                                   (DETERGEN)
..        ...                                          ...
250  0.102204  (SNACK, MINUMAN, SABUN & SAMPHOO, KOSMETIK)
251  0.117473   (SUSU, MINUMAN, SABUN & SAMPHOO, KOSMETIK)
252  0.102081  (PARFUM, SABUN & SAMPHOO, KOSMETIK, OBATAN)
253  0.106760    (PARFUM, SUSU, SABUN & SAMPHOO, KOSMETIK)
254  0.102327     (PARFUM, SUSU, MINUMAN, SABUN & SAMPHOO)

[255 rows x 2 columns]

Dimana perintah yang di gunakan adalah apriori, dengan data dari basket_sets dengan minimum nilai support 0.1/ 10%.

In [ ]:
rules1 = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules1.head() # 1280 rows Ã— 9 columns

           antecedents          consequents  ...  leverage  conviction
0            (BISKUIT)  (ALAT RUMAH TANGGA)  ...  0.063973    1.374300
1  (ALAT RUMAH TANGGA)            (BISKUIT)  ...  0.063973    1.430430
2           (DETERGEN)  (ALAT RUMAH TANGGA)  ...  0.051100    1.383887
3  (ALAT RUMAH TANGGA)           (DETERGEN)  ...  0.051100    1.274641
4           (KOSMETIK)  (ALAT RUMAH TANGGA)  ...  0.047258    1.204792

[5 rows x 9 columns]

In [ ]:
result1 = rules1[(rules1['lift'] >= 1) & 
               (rules1['confidence'] >= 0.8)]

apr_result = result1.sort_values(by='confidence', ascending=False)
apr_result.head(20) # 64 rows Ã— 9 columns

                                        antecedents  ... conviction
1239              (PARFUM, SABUN & SAMPHOO, OBATAN)  ...   5.053522
1252                (PARFUM, SUSU, SABUN & SAMPHOO)  ...   4.901986
1086             (BISKUIT, SABUN & SAMPHOO, OBATAN)  ...   4.867128
1182             (PARFUM, MINUMAN, SABUN & SAMPHOO)  ...   4.589344
1057             (PARFUM, SABUN & SAMPHOO, BISKUIT)  ...   4.578729
1170                       (SUSU, KOSMETIK, OBATAN)  ...   4.753722
1043             (BISKUIT, SABUN & SAMPHOO, OBATAN)  ...   4.522718
1071               (SUSU, SABUN & SAMPHOO, BISKUIT)  ...   4.506857
1210              (SNACK, MINUMAN, SABUN & SAMPHOO)  ...   4.336563
1155             (MINUMAN, SABUN & SAMPHOO, OBATAN)  ...   4.301158
1224               (SUSU, MINUMAN, SABUN & SAMPHOO)  ...   4.272965
1196                        (PARFUM, SUSU, MINUMAN)  ...   4.188726
1114               (SUSU, SABUN & SAMPHOO, BISKUIT)  ...   4.384725
974                     (BISKUIT, KOSMETIK, OBATAN)  ...   4.316710
1030                      (SUSU, KOSMETIK, BISKUIT)  ...   4.283600
1141                      (PARFUM, MINUMAN, OBATAN)  ...   4.041373
1127           (MINUMAN, SABUN & SAMPHOO, DETERGEN)  ...   3.996515
1001            (MINUMAN, SABUN & SAMPHOO, BISKUIT)  ...   3.990505
1197                       (PARFUM, SUSU, KOSMETIK)  ...   4.039597
959   (MINUMAN, SABUN & SAMPHOO, ALAT RUMAH TANGGA)  ...   3.756896

[20 rows x 9 columns]

Melakukan filter untuk nilai lift ratio lebih dari sama dengan 1 dengan tingkat confidence minimal 0.8 (lebih dari sama dengan 80%)

In [ ]:
apr_result.iloc[60]

antecedents           (MINUMAN, KOSMETIK, ALAT RUMAH TANGGA)
consequents                                (SABUN & SAMPHOO)
antecedent support                                  0.133727
consequent support                                  0.364364
support                                             0.107007
confidence                                          0.800184
lift                                                 2.19611
leverage                                           0.0582811
conviction                                           3.18111
Name: 960, dtype: object

## 4. Interpretation

Produk-produk yang dibeli secara bersamaan oleh customer di daerah **JAWA TENGAH** terhadap rule asosiasi pada dataset dengan min_support 0.1 / 10%, min_threshold = 1, dan nilai lift sebesar lebih dari samadengan 1 serta tingkat confidence minimal yang diperhitungkan sebesar 0.8 (80%) adalah: 
- **sabun, shampoo, obat-obatan, parfum** dengan **kosmetik**.
- **kosmetik, susu, obat-obatan** dengan **minuman**.
- **kosmetik, alat rumah tangga, minuman** dengan **sabun dan samphoo**.
<br>
<br>

**Additional Note:**
Produk atau barang yang menjadi kombinasi produk pertama untuk frekuensi yang paling banyak adalah **kosmetik, minuman, sabun dan sampho**.

In [ ]:
# check barang kedua untuk kombinasi barang pertama
# pairing kombinasi dari pembelian produk pertama yang paling banyak untuk barang kedua adalah

apr_result['consequents'].value_counts()

(KOSMETIK)           31
(MINUMAN)            22
(SABUN & SAMPHOO)    11
Name: consequents, dtype: int64

<br>

## *CREATE NEW RULE/MODEL* - **BANTEN**

In [ ]:
basket = (df[df['PROVINSI'] =="BANTEN"].groupby(['InvoiceNo', 'PRODUCT_CATEGORY'])['Quantity'].count()\
                                      .unstack().reset_index().fillna(0)\
                                      .set_index('InvoiceNo'))
basket.head()

PRODUCT_CATEGORY  ALAT LISTRIK  ALAT RUMAH TANGGA  ...  TEPUNG  TISSUE
InvoiceNo                                          ...
536367                     0.0                0.0  ...     0.0     0.0
536368                     0.0                0.0  ...     0.0     0.0
536396                     0.0                0.0  ...     0.0     0.0
536403                     0.0                0.0  ...     0.0     0.0
536406                     0.0                0.0  ...     0.0     0.0

[5 rows x 50 columns]

In [ ]:
# Show a subset of columns
basket.iloc[:,[0,1,2,3,4,5,6,7]].head()

PRODUCT_CATEGORY  ALAT LISTRIK  ALAT RUMAH TANGGA  ...  COKELAT  DETERGEN
InvoiceNo                                          ...
536367                     0.0                0.0  ...      0.0       0.0
536368                     0.0                0.0  ...      0.0       0.0
536396                     0.0                0.0  ...      0.0       0.0
536403                     0.0                0.0  ...      1.0       0.0
536406                     0.0                0.0  ...      0.0       0.0

[5 rows x 8 columns]

In [ ]:
# Melakukan proses encoding -> Mengubah data kebentuk angka, agar sistem atau komputer dapat memahami informasi dari dataset
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

basket_sets = basket.applymap(encode_units)
basket_sets.head(5)

PRODUCT_CATEGORY  ALAT LISTRIK  ALAT RUMAH TANGGA  ...  TEPUNG  TISSUE
InvoiceNo                                          ...
536367                       0                  0  ...       0       0
536368                       0                  0  ...       0       0
536396                       0                  0  ...       0       0
536403                       0                  0  ...       0       0
536406                       0                  0  ...       0       0

[5 rows x 50 columns]

Kemudian melakukan encoding, dimana jika barang kurang dari sama dengan 0 maka keranjang tersebut bernilai 0 dan jika lebih dari 1 maka nilainya adalah 1, sehingga jika sebuah nota membeli barang A sebanyak 10 buah maka hanya akan dihitung 1. Karena analisis yang di gunakan menyaratkan seperti itu.

In [ ]:
# Build up the frequent items, the rules, and model

frequent_itemsets = apriori(basket_sets, min_support=0.1, use_colnames=True)
frequent_itemsets.head() # 105 rows Ã— 2 columns

    support             itemsets
0  0.255490  (ALAT RUMAH TANGGA)
1  0.256223            (BISKUIT)
2  0.122255              (BUMBU)
3  0.144949            (COKELAT)
4  0.212299           (DETERGEN)

In [ ]:
rules2 = association_rules(frequent_itemsets, metric="lift", min_threshold=2)
rules2.head() # 262 rows Ã— 9 columns

           antecedents          consequents  ...  leverage  conviction
0            (BISKUIT)  (ALAT RUMAH TANGGA)  ...  0.073630    1.628615
1  (ALAT RUMAH TANGGA)            (BISKUIT)  ...  0.073630    1.632568
2           (DETERGEN)  (ALAT RUMAH TANGGA)  ...  0.055569    1.542198
3  (ALAT RUMAH TANGGA)           (DETERGEN)  ...  0.055569    1.381446
4             (OBATAN)  (ALAT RUMAH TANGGA)  ...  0.059807    1.633304

[5 rows x 9 columns]

Jika ditetapkan nilai threshold (min_support) = 2, maka
didapat frequent 2-itemset (F2) yaitu:
F2 = [Biskuit, Alat Rumah Tangga], [Detergen. Alat Rumah Tangga] dan lainnya [jumlah kombinasi antara barang satu dengan lainnya berjumlah 2]

In [ ]:
result2 = rules2[ (rules2['lift'] >= 1) & 
                (rules2['confidence'] >= 0.85) ]

best_result = result2.sort_values(by='confidence', ascending=False)
best_result.head() # 17 rows Ã— 9 columns

                              antecedents consequents  ...  leverage  conviction
173                     (MINUMAN, OBATAN)  (KOSMETIK)  ...  0.066797   11.138360
107  (SABUN & SAMPHOO, ALAT RUMAH TANGGA)  (KOSMETIK)  ...  0.073942    8.769569
95            (ALAT RUMAH TANGGA, OBATAN)  (KOSMETIK)  ...  0.062885    6.726696
209                      (PARFUM, OBATAN)  (KOSMETIK)  ...  0.064551    6.511027
238               (SUSU, SABUN & SAMPHOO)  (KOSMETIK)  ...  0.070761    6.369977

[5 rows x 9 columns]

## 4.2 Interpretation

Produk-produk yang dibeli secara bersamaan oleh customer di daerah **Banten** terhadap rule asosiasi pada dataset dengan min_support 0.1 / 10%, min_threshold = 2, dan nilai lift sebesar lebih dari samadengan 1 serta tingkat confidence minimal yang diperhitungkan sebesar 0.85 (85%) adalah: **Obat-obatan, minuman, sabun, samphoo, alat rumah tangga, parfum, susu, biskuit, snack, parfum, permen, alat rumah tangga** dengan kombinasi produk yang didapat sebagian besar adalah pairing dengan **kosmetik**.

In [ ]:
best_result.head

<bound method NDFrame.head of                               antecedents consequents  ...  leverage  conviction
173                     (MINUMAN, OBATAN)  (KOSMETIK)  ...  0.066797   11.138360
107  (SABUN & SAMPHOO, ALAT RUMAH TANGGA)  (KOSMETIK)  ...  0.073942    8.769569
95            (ALAT RUMAH TANGGA, OBATAN)  (KOSMETIK)  ...  0.062885    6.726696
209                      (PARFUM, OBATAN)  (KOSMETIK)  ...  0.064551    6.511027
238               (SUSU, SABUN & SAMPHOO)  (KOSMETIK)  ...  0.070761    6.369977
226                        (PARFUM, SUSU)  (KOSMETIK)  ...  0.068590    5.931263
215                        (SUSU, OBATAN)  (KOSMETIK)  ...  0.067631    5.862295
190            (MINUMAN, SABUN & SAMPHOO)  (KOSMETIK)  ...  0.079092    5.697371
101           (PARFUM, ALAT RUMAH TANGGA)  (KOSMETIK)  ...  0.067606    5.397581
131            (SABUN & SAMPHOO, BISKUIT)  (KOSMETIK)  ...  0.071418    5.241581
202                       (SUSU, MINUMAN)  (KOSMETIK)  ...  0.077148    5.215373
232              (SNACK, SABUN & SAMPHOO)  (KOSMETIK)  ...  0.067833    5.211800
178                     (PARFUM, MINUMAN)  (KOSMETIK)  ...  0.069499    5.127634
167                   (MINUMAN, DETERGEN)  (KOSMETIK)  ...  0.064475    5.003328
220             (PARFUM, SABUN & SAMPHOO)  (KOSMETIK)  ...  0.067808    4.859383
113             (SUSU, ALAT RUMAH TANGGA)  (KOSMETIK)  ...  0.065409    4.722883
184                     (MINUMAN, PERMEN)  (KOSMETIK)  ...  0.061345    4.643357

[17 rows x 9 columns]>

<br>